<main class="window">
  <header class="header">
    <p class="big-text">Twoje pojazdy</p>
  </header>

  <div class="content">
    <div class="img">
      <img src="https://i.imgur.com/OKEJVTA.jpg" alt="">
    </div>

    <ul class="content">
      <li>
        <span class="static-text">Marka pojazdu: </span>
        {{this.veh.name}}
      </li>

      <li>
        <span class="static-text">Pojemność baku: </span>
        {{this.veh.fuelTank}} <span class="marginal">L</span>
      </li>

      <li>
        <span class="static-text">Przebieg: </span>
        {{this.veh.milage}} <span class="marginal">km</span>
      </li>

      <li>
        <span class="static-text">Spalanie paliwa: </span>
        {{this.veh.fuelConsumption}} <span class="marginal">L/km</span>
      </li>
    </ul>
  </div>

  <footer class="footer black-footer">
    <button routerLink="/playercars" class="button">
      Wstecz
    </button>

    <!-- IF USER HASNT SPAWN CAR DELETE "Namierz"  AND CHANGE NAME "Unspawn" TO "Spawn" -->

    <button class="button" (click)="this.spawnVehicle()">
       <span *ngIf="this.veh.isSpawned">Unspawn</span>
       <span *ngIf="!this.veh.isSpawned">Spawn</span>
    </button>

    <button class="button" *ngIf="this.veh.isSpawned" (click)="this.trackVehicle()">
      Namierz
    </button>

    <button class="button">
      Wyjdź
    </button>
  </footer>
</main>
