<main class="window">
  <header class="header">
    <p class="big-text">Twoje pojazdy</p>
  </header>

  <div class="content">
    <div class="img">
      <img src="https://i.imgur.com/OKEJVTA.jpg" alt="">
    </div>

    <ul class="content">
      <li>
        <span class="static-text">Marka pojazdu: </span>
        Bagger
      </li>

      <li>
        <span class="static-text">Pojemność baku: </span>
        47 <span class="marginal">L</span>
      </li>

      <li>
        <span class="static-text">Przebieg: </span>
        20 000 <span class="marginal">km</span>
      </li>

      <li>
        <span class="static-text">Spalanie paliwa: </span>
        2 <span class="marginal">L/km</span>
      </li>
    </ul>
  </div>

  <footer class="footer black-footer">
    <button routerLink="/playercars" class="button">
      Wstecz
    </button>

    <!-- IF USER HASNT SPAWN CAR DELETE "Namierz"  AND CHANGE NAME "Unspawn" TO "Spawn" -->

    <button class="button">
       Unspawn
    </button>

    <button class="button">
      Namierz
    </button>

    <button class="button">
      Wyjdź
    </button>
  </footer>
</main>
