<main class="window medium">
  <header class="header">
    <p class="big-text">Menu grupy</p>
    <p class="small-text">o mnie</p>
  </header>

  <ul class="content">
    <li>
      <span class="static-text">Imie i nazwisko: </span>
      Clarence Morrow
    </li>

    <li>
      <span class="static-text">Stanowisko: </span>
      <span class="biggest-text">
        President
      </span>
    </li>

    <li>
      <span class="static-text">Wypłata: </span>
      <span class="biggest-text">
        $500
      </span>
      <span class="marginal">/h</span>
    </li>

    <li>
      <span class="static-text">Na służbie: </span>
      <span class="biggest-text">21 minut</span>
    </li>
  </ul>

  <footer class="footer">
    <button (click)="previousPage()" class="button">
      Wróć
    </button>

    <button class="button" (click)="this.kickEmployee()">
      Wyproś
    </button>

    <button class="button">
      Wyjdź
    </button>
  </footer>
</main>
