<main class="bus-stop-window">
  <header class="header">
    <p class="big-text">Przystanek autobusowy</p>
    <p class="small-text">podsumowanie</p>
  </header>

  <div class="bus-stop-content">
    <div class="map-space">
      <div class="map">
        <div id="map"></div>
      </div>
    </div>

    <div class="map-information">
      <ul class="map-info-content">
        <div class="bus-stop-img">
          <img src="https://img.gta5-mods.com/q75/images/life-is-strange-bus-stop-posters/004c92-lisgta.jpg">
        </div>

        <li>
          <div class="static-text">Nazwa przystanku</div>
          Downtown Police Station
        </li>

        <li>
          <div class="static-text">Długość trasy</div>
          2 km
        </li>

        <li>
          <div class="static-text">Czas podróży</div>
          02:22 min
        </li>
      </ul>

      <footer class="footer black-footer">
        <button class="button">Podróżuj</button>
        <button class="button">Wyjdź</button>
      </footer>
    </div>
  </div>
</main>
