@import './subcategories.scss';

@font-face{
    font-family: 'SignPainter-HouseScript';
    src: url('/assets/fonts/SignPainter-HouseScript.ttf');
}

// Local colr palette
$creator-box-background: hsla(0, 0%, 0%, 0.733);

$header-background: hsla(120, 42%, 49%, 0.863);

$category-color: #ffffff;
$category-color-hover: #000000;
$category-background-hover: #ffffff;

$warningMes-color: #888b89;
$saveFirst-background: #44b156;
$saveFirst-background-hover: #158828;
$saveFirst-color: #ffffff;


main{
  position: absolute;
  top: 17vh;
  left: 12vh;
  width: 26em;
  max-height: 35em;
  background-color: $creator-box-background;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.24);
}

header {
  width: 100%;
  height: 1.5em;
  line-height: 1.7em;
  padding-left: .3em; // font-family: 'Merienda', cursive;
  font-family: 'SignPainter-HouseScript';
  font-weight: medium;
  font-size: 3em;
  background-color: $header-background;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px black;
}


.content {
  max-height: 25em;
  .menu {
    display: block;
    width: 100%;
    height: 100%;
    list-style-type: none;
    box-sizing: border-box;
  }
  .category {
    width: 100%;
    li {
      display: block;
      width: 100%;
      height: 2em;
      line-height: 2em;
      box-sizing: border-box;
      margin-top: 1em;
      padding-left: 1em;
      color: $category-color;
      &:hover {
        cursor: pointer;
        color: $category-color-hover;
        background-color: $category-background-hover;
      }
    }
  }
}

footer {
  width: 100%;
  height: auto;
  margin: 1em 0em;
  text-align: center;
  padding-top: 1em;
  .warningMes {
    display: block;
    width: 100%;
    padding: 0em .5em;
    margin-bottom: 1em;
    font-size: .9em;
    color: $warningMes-color;
    text-align: left;
  }
  .saveFirst {
    margin-top: 1em;
    padding: .3em 1.3em;
    outline: none;
    border: none;
    font-size: 1.1em;
    background-color: $saveFirst-background;
    color: $saveFirst-color;
    border-radius: .1em;
    &:hover {
      cursor: pointer;
      background-color: $saveFirst-background-hover;
    }
  }
}

