<main class="window medium" style="max-width: 28em;">
  <header class="header" style="padding-bottom: 0em;">
    <p class="big-text">Bankomat</p>
  </header>

  <div class="content">
    <div class="inputSpace">
      <span class="dolar">$</span>
        <input [(ngModel)]="inputMoney" class="input" type="number" min="0" placeholder="wpisz kwote" autofocus>
    </div>
    <span class="marginal" >
      Stan konta: $ {{characterBank.bankMoney}}
    </span>
  </div>

  <footer class="footer">
    <button class="button" (click)="this.payOff()">
      Wypłać
    </button>

    <button class="button" (click)="this.payIn()" >
      Wpłać
    </button>

    <button class="button">
      Wyjdź
    </button>
  </footer>
</main>
