<main class="window">
  <header class="header">
    <p class="big-text">Twoje przedmioty</p>
  </header>

  <div class="additional-info">
  </div>

  <ul class="content scrollbar">
    <li *ngFor="let item of playerItems">
      <div class="name">{{item.name}} <span class="marginal">(<span class="number">1</span>)</span></div>
      <div class="buttons">
          <button class="button">Użyj</button>
          <button (click)="this.getItemDetails(item.id)" class="button">Więcej</button>
      </div>
    </li>
  </ul>

  <footer class="footer black-footer">
    <button class="button" style="width: 100%;">
      Wyjdź
    </button>
  </footer>
</main>
