<main class="window">
  <header class="header">
    <p class="big-text">Twoje przedmioty</p>
  </header>

  <div class="table-information">
  </div>

  <ul class="content scrollbar">
    <li>
      <div class="name">Kij baseballowy <span class="marginal">(<span class="number">1</span>)</span></div>
      <div class="buttons">
          <button class="button">Użyj</button>
          <button routerLink="/playeritems/info" class="button">Więcej</button>
      </div>
    </li>
  </ul>

  <footer class="footer">
    <button class="button" style="width: 100%;">
      Wyjdź
    </button>
  </footer>
</main>
