.window {
  width: 10em !important;
}

.table-information {
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: .3em 2em;
  text-transform: uppercase;
  color: #7c997b;
  background: rgba(0, 0, 0, 0.274);
}

.content {
  margin-top: -.2em;
}
.content li {
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 15em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content li input {
  text-align: center;
  width: 3em;
}
li button{
  font-size: 1em;
  padding: 0em .5em;
}
.name {
  width: 50%;
}

footer {
  background: rgba(0, 0, 0, 0.274);
}
