<header>
  kreator postaci
</header>

<div class="content scrollbar">
  <ul class="menu  properties">
    <!-- #region beard-->
    <li class="property">
      <span class="property-name">
        Zarost na twarzy
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">broda01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion beard-->

    <!-- #region skin discoloration-->
    <li class="property">
      <span class="property-name">
        Odbarwienia skóry
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">skin01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion skin discoloration-->

    <!-- #region skin aging-->
    <li class="property">
      <span class="property-name">
        Postarzenie skóry
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">skin01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion skin aging-->

    <!-- #region complexion -->
    <li class="property">
      <span class="property-name">
        Karnacja
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">karnacja01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion complexion -->

    <!-- #region moles and freckles -->
    <li class="property">
      <span class="property-name">
        Pieprzyki i piegi
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">pieprzyki01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion moles and flreckles -->

    <!-- #region skin damage-->
    <li class="property">
      <span class="property-name">
        Uszkodzenia skóry
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">uszkodzenie01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion skin damage-->

    <!-- #region eyes color-->
    <li class="property">
      <span class="property-name">
        Kolor oczu
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">brązowy</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion eyes color-->

    <!-- #region Eye makeup-->
    <li class="property">
      <span class="property-name">
        Makijaż oczu
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">makijaż01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion Eye makeup-->

    <!-- #region lipstick-->
    <li class="property">
      <span class="property-name">
        Szminka
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">szminka01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion lipstick-->
  </ul>
</div>
