.window{
  width: 30em!important;
}

.content{
  margin-top: -.2em;
  li{
    display: -webkit-flex;
    flex-direction: row;
    max-height: 15em;
    justify-content: space-between;

    input{
      text-align: center;
      width: 3em;
    }
  }
}

.name{
  width: 40%;
}

.weight, .prize{
  width: 15%;
  text-align: center;
}
