@import './.vlogo';
@font-face {
  font-family: 'SignPainter-HouseScript';
  src: url('assets/fonts/SignPainter-HouseScript.ttf');
}

/* #region NORMALIZE */
* {
  padding: 0;
  margin: 0;
}

body {
  background: url('https://img.gta5-mods.com/q95/images/single-player-garage/0d552a-Grand_Theft_Auto_V_2015-05-25_23-04-32.jpg');
  // background: transparent!important;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

div,
main,
header,
aside,
nav,
footer {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

footer{
  border-top: 1px solid #242424;
}

img {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
/* #endregion NORMALIZE */


/* #region scrollbar */
.scrollbar {
  overflow-y: scroll!important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border: 0px none #c0c0c0;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5dad5d;
}

::-webkit-scrollbar-thumb:active {
  background: #5dad5d;
}

::-webkit-scrollbar-track {
  background: #464646;
  border: 0px none #c0c0c0;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #464646;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
/* #endregion scrollbar */



.window{
  position: absolute;
  top: 11vh;
  right: 7vh;
  min-width: 25em;
  max-width: 50em;
  box-sizing: border-box;

  background: hsla(0, 0%, 0%, 0.733);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.24);
}


.header{
  width: 100%;
  padding: .4vw 1vw;
  background: hsla(120, 42%, 49%, 0.863);

  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'SignPainter-HouseScript';

  .big-text{
    font-size: 5vh;
    text-shadow: 1px 1px 1px black;
  }

  .small-text{
    font-size: 2.6vh;
    text-shadow: 1px 1px 1px black;
    margin-top: 2.6vh;
  }
}


.content{
  padding-bottom: .7em;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  list-style-type: none;
  max-height: 40vh;

  li{
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    padding: .1em 1em;
    margin-top: .8em;
    font-size: 1em;
  }

  .goto{
    font-size: 1.1em;
  }

  .flex{
    display: -webkit-flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .select{&:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000000;
    .marginal,.static-text{ color: initial; }
  }}
}


.footer{
  width: 100%;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-around;
  padding: .4vh 0hv;
}
.black-footer{
  background: hsla(0, 0%, 0%, 0.274);
}


.button{
  background: none;
  border: none;
  outline: none;
  font-size: 2vh;
  color: #fff;
  padding: 1.2vh;

  &:hover{
    cursor: pointer;
    color: #b9b9b9;
  }
}


.static-text{
  font-size: 1vw;
  padding-right: .6vh;
  color: #a6c2a8;
  flex: 1;
}


.biggest-text{
  font-size: 2.2vh!important;
}


.marginal{
  padding-left: .1em;
  // line-height: 250%;
  font-size: 1.4vh;
  color: #869180;
}


.number{
  font-size: 2vh;
}


.biggest-text{
  font-size: 2.2vh;
}


.input{
  background: none;
  border: none;
  outline: none;
  font-size: 1.8vh;
  color: #fff;
  &:placeholder{ color: #fff; }
  &:focus{color: #5dad5d; &:placeholder{color: #5dad5d; }}
}


.additional-info{
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;

  padding: .3em 2em;
  text-transform: uppercase;
  color: #7c997b;
  background: hsla(0, 0%, 0%, 0.274);
}
