@import './.vlogo';
@font-face {
  font-family: 'SignPainter-HouseScript';
  src: url('assets/fonts/SignPainter-HouseScript.ttf');
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: transparent!important;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

div,
main,
header,
aside,
nav,
footer {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

footer{
  border-top: 1px solid #242424;
}

img {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}


// SCROLLBAR
.scrollbar {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border: 0px none #c0c0c0;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5dad5d;
}

::-webkit-scrollbar-thumb:active {
    background: #5dad5d;
}

::-webkit-scrollbar-track {
    background: #464646;
    border: 0px none #c0c0c0;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #464646;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
