<header>
  Kreator postaci
</header>

<div class="content">
  <ul class="menu category">
    <li routerLink="/charactercreator/info">Wprowadź informacje personalne</li>
    <li routerLink="/charactercreator/appearance">Zmień wygląd postaci</li>
    <li routerLink="/charactercreator/clothes">Zmień ubiór</li>
    <li routerLink="/charactercreator/car">Wybierz startowy pojazd</li>
  </ul>
</div>

<footer>
  <span class="warningMes">
    Pamiętaj, że wygląd postaci jak i pojazd startowy możesz ustawić tylko teraz. Później nie ma możliwości zmiany wyglądu (rys
    twarzy, fryzury) postaci.
  </span>

  <button class="saveFirst">
    Zapisz Postać
  </button>
</footer>
