<!-- #region main-->
<main>
  <router-outlet></router-outlet>

  <footer>
    <button (click)="previousPage()" class="previous">
      Wstecz
    </button>

    <button class="save">
      Zapisz i graj
    </button>

    <!-- <button routerLink="/charactercreator/details" class="next">
      Dalej
    </button> -->
  </footer>
</main>
<!-- #endregion main-->

<!-- #region vlogo -->
<span class="vlogo">
  <p>
    <span style="color:green;">V</span> Role Play
  </p>
  <p class="second-text">
    kreator postaci
  </p>
</span>
<!-- #endregion vlogo-->
