<ng-container>
  <!-- #region main-->
  <main>
    <section class="content">
      <!-- #region character-details -->
      <section>
        <section class="character-info">
          <div *ngIf="character">
            <span class="information">
              <span class="static-text">Imie i Nazwisko: </span>
              {{character.name}} {{character.surname}}
            </span>

            <span class="information">
              <span class="static-text">Stan konta: </span>
              ${{character.money}}
            </span>

            <span class="information">
              <span class="static-text">Ostanie logowanie: </span>
              {{character.lastLoginTime || 'Nigdy'}}
            </span>
          </div>
        </section>
        <!-- #endregion character-details -->

        <!-- #region player_characters -->
        <section class="characters">
          <div *ngFor="let character of characters" (click)="clickHandler(character)" class="character">
            <img *ngIf="character.model" ng-src="https://v-rp.pl/skins/58px-{{character.model}}" />
          </div>
        </section>
      </section>
      <!-- #endregion player_characters -->

      <!-- #region buttons -->
      <section class="action-buttons">
        <button (click)="select()" class="btn-change">
          Graj
        </button>

        <button routerLink="/charactercreator" class="btn-change new_character">
          Nowa postać
        </button>
      </section>
      <!-- #endregion buttons -->
    </section>
  </main>
  <!-- #endregion main-->

  <!-- #region vlogo -->
  <span class="vlogo">
    <p>
      <span style="color:green;">V</span> Role Play
    </p>
  </span>
  <!-- #endregion vlogo-->
</ng-container>
