<!-- #region main-->
<main>
  <header>
    Kreator postaci
  </header>

  <div class="content">
    <ul class="menu category">
      <li class="input">
        <p>Imię</p>
        <input [(ngModel)]="this._characterService.characterCreatorModel.name" type="text" maxlength="20" placeholder="Imię">
      </li>

      <li class="input">
        <p>Nazwisko</p>
        <input [(ngModel)]="this._characterService.characterCreatorModel.surname" type="text" maxlength="20" placeholder="Nazwisko">
      </li>

      <!-- <li class="input">
        <p>Wiek</p>
        <input [(ngModel)]="" type="text" maxlength="2"
          placeholder="Wiek">
      </li> -->

      <li routerLink="/charactercreator/appearance">Dopasuj wygląd</li>
    </ul>
  </div>


  <footer>
    <span class="warningMes">
      Pamiętaj, że wygląd postaci jak i pojazd startowy możesz ustawić tylko teraz. Później nie ma możliwości zmiany wyglądu (rys
      twarzy, fryzury) postaci.
    </span>

    <div class="buttons">
      <button (click)="saveCharacter()" class="first">
        Zapisz Postać
      </button>

      <button class="first">
        Anuluj
      </button>
    </div>
  </footer>
</main>
<!-- #endregion main-->

<!-- #region vlogo -->
<span class="vlogo">
  <p>
    <span style="color:green;">V</span> Role Play
  </p>
  <p class="second-text">
    kreator postaci
  </p>
</span>
<!-- #endregion vlogo-->
