<!-- #region main-->
<main>
  <header>
    Kreator postaci
  </header>

  <div class="content">
    <ul class="menu category">
      <li class="input">
        <p>Imie</p>
        <input type="text" placeholder="Michael">
      </li>

      <li class="input">
        <p>Nazwisko</p>
        <input type="text" placeholder="De Santa">
      </li>

      <li class="input">
        <p>Wiek</p>
        <input type="text" placeholder="45">
      </li>

      <li class="input">
        <input class="skin-checkbox" id="skin-checkbox" type="checkbox">
        <label for="skin-checkbox">Wybierz gotowego skina</label>
      </li>

      <li routerLink="/charactercreator/appearance">Personalizuj wygląd</li>
    </ul>
  </div>


  <footer>
    <span class="warningMes">
      Pamiętaj, że wygląd postaci jak i pojazd startowy możesz ustawić tylko teraz. Później nie ma możliwości zmiany wyglądu (rys
      twarzy, fryzury) postaci.
    </span>

    <div class="buttons">
      <button class="first">
        Zapisz Postać
      </button>

      <button class="first">
        Anuluj
      </button>
    </div>
  </footer>
</main>
<!-- #endregion main-->

<!-- #region vlogo -->
<span class="vlogo">
  <p>
    <span style="color:green;">V</span> Role Play
  </p>
  <p class="second-text">
    kreator postaci
  </p>
</span>
<!-- #endregion vlogo-->
