body{
    overflow: hidden;
    /*background-image: url("img/bg.jpg");*/
    font-family: 'Poppins', sans-serif;
}

.content{
	width: 500px;
	margin: 0 auto; 
	margin-top: 200px;
}

.logo{
	text-align: center;
	color: #fff;
	font-size: 72px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.86);
}

.g{color: green;}

.desc
{
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.86);
}

.login-panel{
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 450px;
	background: white;
	padding: 20px;
	color:#494949;
	-webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.24);
	border-top: 3px solid green;
	font-size: 13px;
}

.login-panel input
{
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px #494949 solid;
	padding: 10px;
	width: 95%;
}

.login-panel button{
	width: 100%;
	padding: 15px;
	background: green;
	color: white;
	border: 0;
	border-top: 3px #005f00 solid;
}