<header>
  Kreator Postaci
</header>


<div class="content">
  <ul class="menu  properties">
    <!-- #region property style-->
    <li class="property">
      <span class="property-name">
        Styl
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">Stylowy</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion property style-->

    <!-- #region property outfit-->
    <li class="property">
      <span class="property-name">
        Strój
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">Czarny gładki garnitu</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion property outfit-->

    <!-- #region property hat-->
    <li class="property">
      <span class="property-name">
        Nakrycie głowy
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">czarna czapka zimowa</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion property hat-->

    <!-- #region property Glasses-->
    <li class="property">
      <span class="property-name">
        Okulary
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">limonkowe okulary broker</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion property Glasses-->
  </ul>
</div>
