<div class="content-center">
  <div class="logo-center">
    <span class="g">V</span> Role Play
    <br />
  </div>
  <div class="desc">
    <span class="desc-logo">Zaloguj się!</span>
  </div>
  <div class="v-panel-center">
    <span class="log-desc">E-Mail:</span>
    <br />
    <input [(ngModel)]="_login.email" type="email"></input>
    <span class="log-desc">Hasło:</span>
    <br />
    <input [(ngModel)]="_login.password" type="password"></input>
    <button (click))="login()">Zaloguj się!</button>
  </div>
</div>
</body>
