<div *ngIf="loginModel" class="content-center">
  <div class="logo-center">
    <span class="g">V</span> Role Play
    <br />
  </div>
  <div class="desc">
    <span class="desc-logo">Zaloguj się!</span>
  </div>
  <div class="v-panel-center">
    <span class="log-desc">E-Mail:</span>
    <br />
    <input [(ngModel)]="loginModel.email" type="email" placeholder="E-Mail" />
    <span class="log-desc">Hasło:</span>
    <br />
    <input [(ngModel)]="loginModel.password" type="password" placeholder="Hasło" />
    <button (click)="login()">Zaloguj się!</button>
  </div>
</div>
