.select-options{
  padding-top: .15em;
  float:left;
}

.select-options select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  outline: 0;
  height: 100%;
  border: 0px solid #000000;
  border-radius: 0px;
  background: transparent;
  color: #ffffff;
  font-size: 1.2em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-options select::-ms-expand {
  display: none;
}

.select-options select:hover {
  color: #000000;
}

.select-options select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.select:hover .select-options select {
  color: #000000 !important;
}
