<main class="window medium" style="max-width: 28em;">
  <header class="header">
    <p class="big-text">Praca dorywcza</p>
  </header>

  <ul class="content">
    <li class="biggest-text">
      <span class="static-text">Aktualna praca: </span>
      Dostawca
    </li>

    <li class="biggest-text">
      <span class="static-text">Zarobione pieniądze: </span>
      $200
    </li>

    <li class="select">
      <span class="static-text" style="float:left;">Wybierz prace: </span>
      <div class="select-options">
        <select>
          <option value="gardener">Ogrodnik</option>
          <option value="provider">Dostawca</option>
          <option value="storekeeper">Magazynier</option>
          <option value="garbage">Operator śmieciarki</option>
        </select>
      </div>
    </li>
  </ul>

  <footer class="footer">
    <button class="button">
      Wypłata
    </button>

    <button class="button">
        Zmień prace
    </button>

    <button class="button">
      Wyjdź
    </button>
  </footer>
</main>
