.window {
  max-width: 30em!important;
}

.img{
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  background: rgba(0, 0, 0, 0.274);
}
.img img{
  max-height: 150px;
  border: 2px solid black;
  border-bottom: 0;
  border-top:0;
}

.marginal{
  font-size: 1em;
  line-height: 0%;
}
