<main class="window">
  <header class="header">
    <p class="big-text">Twoje pojazdy</p>
  </header>

  <div class="content">
    <div class="img">
      <img src="https://vignette.wikia.nocookie.net/unisonleague/images/3/3f/Gear-Baseball_Bat_Render.png/revision/latest?cb=20160303145709" alt="">
    </div>

    <ul class="content scrollbar">
      <li>
        <span class="static-text">Nazwa: </span>
        {{this.item.name}}
      </li>

      <li style="color: #f3f3f3; padding-bottom: 9em;">
        <div class="static-text">Do czego to służy: </div>
        <span style="font-size: .9em;">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis quam cum consequatur blanditiis omnis eos nemo libero assumenda tenetur id.
        </span>
      </li>
    </ul>
  </div>

  <footer class="footer black-footer">
    <button routerLink="/playeritems" class="button">
      Wstecz
    </button>

    <button class="button">
      Użyj
    </button>

    <button class="button">
      Upuść
    </button>

    <button class="button">
      Wyjdź
    </button>
  </footer>
</main>
