<main class="window">
  <header class="header">
    <p class="big-text">Menu grupy</p>
    <p class="small-text">pracownicy online</p>
  </header>

  <ul class="scrollbar content">
    <li>
      <span>Clarence Morrow
        <span class="marginal">(<span class="number">21</span>)</span>
      </span>
      <span routerLink="/groupmenu/about" class="more">Więcej</span>
    </li>

    <li>
      <span>Gemma Teller Morrow
          <span class="marginal">(<span class="number">3</span>)</span>
      </span>
      <span routerLink="/groupmenu/about" class="more">Więcej</span>
    </li>

    <li>
      <span>Jackson Teller
          <span class="marginal">(<span class="number">45</span>)</span>
      </span>
      <span routerLink="/groupmenu/about" class="more">Więcej</span>
    </li>

    <li>
      <span>Harry Winston
          <span class="marginal">(<span class="number">33</span>)</span>
      </span>
      <span routerLink="/groupmenu/about" class="more">Więcej</span>
    </li>

    <li>
      <span>Tara Knowles
          <span class="marginal">(<span class="number">1</span>)</span>
      </span>
      <span routerLink="/groupmenu/about" class="more">Więcej</span>
    </li>

  </ul>

  <footer class="footer">
    <button (click)="previousPage()" class="button">
      Wróć
    </button>

    <button routerLink="/groupmenu/management" class="button">
      Zarządzaj
    </button>

    <button class="button">
      Wyjdź
    </button>
  </footer>
</main>
