<header>
  Informacje personalne
</header>

<div class="content">
  <span class="text-box">
    Matka & Ojciec
  </span>

  <ul class="menu family-roots properties">
    <!-- #region property name-->
    <li class="property">
      <span class="property-name">
        Imię
      </span>
      <input type="text" />
    </li>
    <!-- #endregion property name-->

    <!-- #region property surname-->
    <li class="property">
      <span class="property-name">
        Nazwisko
      </span>

      <input type="text" />
    </li>
    <!-- #endregion property surname-->

    <!-- #region property freemode-->
    <li class="property">
      <span class="property-name">
        Wolny wygląd?
      </span>

      <input type="checkbox" checked="true" />
    </li>
    <!-- #endregion property freemode-->

    <!-- #region property age-->
    <li class="property">
      <span class="property-name">
        Wiek
      </span>

      <input type="number" />
    </li>
    <!-- #endregion property age-->

    <!-- #region property age-->
    <li class="property">
      <span class="property-name">
        Wiek
      </span>

      <input type="number" />
    </li>
    <!-- #endregion property age-->
  </ul>
</div>

<footer>
  <button routerLink="/charactercreator/appearance" class="previous">
    Wstecz
  </button>

  <button class="save">
    Zapisz
  </button>

  <button routerLink="/charactercreator/appearance" class="next">
    Dalej
  </button>
</footer>
