<main class="window medium">
  <header class="header">
    <p class="big-text">Menu grupy</p>
    <p class="small-text">podsumowanie</p>
  </header>

  <ul class="content">
    <li>
      <span class="static-text">Nazwa grupy: </span>
      Lions North Country Club
    </li>

    <li>
      <span class="static-text">Typ grupy: </span>
      <span class="biggest-text">
        Motorcycle Club
      </span>
    </li>

    <li>
      <span class="static-text">Na koncie grupy: </span>
      <span class="biggest-text">
        $3000
      </span>
    </li>

    <li routerLink="/groupmenu/online" class="goto select">
      Pracownicy online
      <span class="marginal">(<span class="number">3</span>)</span>
    </li>
  </ul>

  <footer class="footer">
    <button class="button" (click)="this.duty()">
     <span *ngIf="!this.isOnDuty">Wejdź na służbe</span>
     <span *ngIf="this.isOnDuty">Zejdź ze służby</span>
    </button>

    <button routerLink="/groupmenu/about" class="button">
      O mnie
    </button>

    <button class="button">
      Wyjdź
    </button>
  </footer>
</main>
