<header>
  kreator postaci
</header>

<div class="content scrollbar">
  <ul class="menu  properties">
    <!-- #region eyebrow-->
    <li class="property">
      <span class="property-name">
        Brwi
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">brwi01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion eyebrow-->

    <!-- #region eyes-->
    <li class="property">
      <span class="property-name">
        Oczy
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">oczy01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion eyes-->

    <!-- #region nose-->
    <li class="property">
      <span class="property-name">
        Nos
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">nos01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion nose-->

    <!-- #region nose-profile -->
    <li class="property">
      <span class="property-name">
        Profil nosa
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">profil01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion nose-profile -->

    <!-- #region nose-top-->
    <li class="property">
      <span class="property-name">
        Czubek nosa
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">czubek01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion nose-top-->

    <!-- #region cheekbones-->
    <li class="property">
      <span class="property-name">
        Kości policzkowe
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">policzki01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion cheekbones-->

    <!-- #region cheeks-->
    <li class="property">
      <span class="property-name">
        Policzki
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">policzki01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion cheeks-->

    <!-- #region lips-->
    <li class="property">
      <span class="property-name">
        Wargi
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">wargi01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion lips-->

    <!-- #region jaw-->
    <li class="property">
      <span class="property-name">
        Szczęka
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">szczęka01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion jaw-->

    <!-- #region chin-profile -->
    <li class="property">
      <span class="property-name">
        Profil podbródka
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">podbródek01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion chin-profile -->

    <!-- #region chin-shape -->
    <li class="property">
      <span class="property-name">
        Kształt podbródka
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">podbródek01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion chin-shape -->
  </ul>
</div>

<footer>
  <button routerLink="/charactercreator/appearance" class="previous">
    Wstecz
  </button>

  <button class="save">
    Zapisz
  </button>

  <button routerLink="/charactercreator/moreappearance" class="next">
    Dalej
  </button>
</footer>
