<header>
  Pojazd startowy
</header>

<div class="content scrollbar carmodels">
  <ul class="menu  properties">
    <li class="go-section carmodel">
      Szybki samochód00
    </li>

    <li class="go-section carmodel">
      Szybki samochód01
    </li>

    <li class="go-section carmodel">
      Szybki samochód02
    </li>

    <li class="go-section carmodel">
      Szybki samochód03
    </li>

    <li class="go-section carmodel">
      Szybki samochód04
    </li>

    <li class="go-section carmodel">
      Szybki samochód05
    </li>

    <li class="go-section carmodel">
      Szybki samochód06
    </li>

    <li class="go-section carmodel">
      Szybki samochód07
    </li>

    <li class="go-section carmodel">
      Szybki samochód08
    </li>

    <li class="go-section carmodel">
      Szybki samochód09
    </li>
  </ul>
</div>

<footer>
  <div class="car-rotate">
    <input type="range" min="1" max="360" value="180">
  </div>

  <div class="buttons">
    <button routerLink="/charactercreator/car" class="previous">
      Wstecz
    </button>

    <button class="save">
      Zapisz
    </button>

    <button routerLink="/charactercreator/car" class="next">
      Dalej
    </button>
  </div>
</footer>
