.vlogo {
  display: block;
  position: absolute;
  right: 1em;
  top: 1em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.86);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
.vlogo p:first-child {
  color: #fff;
  font-size: 3em;
  line-height: 40px;
}
.vlogo p:nth-child(2) {
  float: right;
  padding-right: 1.5em;
  color: #d8d8d8;
  font-size: 1.5em;
  line-height: 25px;
}

@font-face {
  font-family: 'SignPainter-HouseScript';
  src: url("assets/fonts/SignPainter-HouseScript.ttf");
}
* {
  padding: 0;
  margin: 0;
}

body {
  background: transparent !important;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

div,
main,
header,
aside,
nav,
footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

footer {
  border-top: 1px solid #242424;
}

img {
  cursor: default;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

/* #region window-elements */
.window {
  position: absolute;
  top: 11em;
  right: 7em;
  min-width: 25em;
  max-width: 33em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(0, 0, 0, 0.733);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.24);
  /* #region independent elements */
  /* #endregion independent elements */
}
.window .header {
  width: 100%;
  padding: .4em 1em;
  background: rgba(72, 177, 72, 0.863);
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'SignPainter-HouseScript';
}
.window .header .big-text {
  font-size: 3em;
}
.window .header .small-text {
  font-size: 1.6em;
  margin-top: 1em;
}
.window .content {
  padding-bottom: .7em;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  list-style-type: none;
  max-height: 25em;
}
.window .content li {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding: .1em 1em;
  margin-top: .8em;
  font-size: 1.05em;
}
.window .content .goto {
  font-size: 1.2em;
}
.window .content .flex {
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.window .content .select:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000000;
}
.window .content .select:hover .marginal, .window .content .select:hover .static-text {
  color: initial;
}
.window .footer {
  width: 100%;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: .4em 0em;
}
.window .button {
  background: none;
  border: none;
  outline: none;
  font-size: 1.2em;
  color: #fff;
  padding: .6em;
}
.window .button:hover {
  cursor: pointer;
  color: #b9b9b9;
}
.window .static-text {
  font-size: 1.15em;
  padding-right: .3em;
  color: #a6c2a8;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.window .marginal {
  padding-left: .1em;
  line-height: 250%;
  font-size: .8em;
  color: #869180;
}
.window .number {
  font-size: 1.3em;
}
.window .biggest-text {
  font-size: 1.2em;
}
.window .input {
  background: none;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
}
.window .input:placeholder {
  color: #fff;
}
.window .input:focus {
  color: #5dad5d;
}
.window .input:focus:placeholder {
  color: #5dad5d;
}

/* #endregion window-elements */
.scrollbar {
  overflow-y: scroll !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border: 0px none #c0c0c0;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5dad5d;
}

::-webkit-scrollbar-thumb:active {
  background: #5dad5d;
}

::-webkit-scrollbar-track {
  background: #464646;
  border: 0px none #c0c0c0;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #464646;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
