<main class="window">
  <header class="header">
    <p class="big-text">Twoje pojazdy</p>
  </header>

  <div class="additional-info" style="padding-left: 0em;">

  </div>

  <ul class="content scrollbar">
    <li *ngFor="let veh of playerVehicles">
      <div class="name">{{veh.name}}</div>
      <button (click)="this.getDatails(veh.id)" class="button">Więcej</button>
    </li>


  </ul>

  <footer class="footer black-footer">
    <button class="button" style="width: 100%;">
      Wyjdź
    </button>
  </footer>
</main>
