<main class="window">
  <header class="header">
    <p class="big-text">Twoje pojazdy</p>
  </header>

  <div class="additional-info" style="padding-left: 0em;">

  </div>

  <ul class="content scrollbar">
    <li>
      <div class="name">Bagger</div>
      <button routerLink="/playercars/more" class="button">Więcej</button>
    </li>

    <!-- #region example-data -->
    <li>
        <div class="name">Emperor</div>
        <button routerLink="/playercars/more" class="button">Więcej</button>
    </li>

    <li>
      <div class="name">Monroe</div>
      <button routerLink="/playercars/more" class="button">Więcej</button>
    </li>
    <!-- #endregion example-data -->
  </ul>

  <footer class="footer black-footer">
    <button class="button" style="width: 100%;">
      Wyjdź
    </button>
  </footer>
</main>
