<main class="window">
  <header class="header">
    <p class="big-text">Sklep 24/7</p>
  </header>

  <div class="table-information" style="padding-left: 0em;">
    <div class="name" style="text-align: center;">Nazwa</div>
    <div class="how-many">Pozostało</div>
    <div class="prize">Cena</div>
    <div>Ilość</div>
  </div>

  <ul class="content scrollbar">
    <li>
      <!-- IF U WANT TO CHANGE how-many VALUE THEN CHANGE max PROPERTY IN INPUT -->
      <div class="name">Telefon</div>
      <div class="how-many">2</div>
      <div class="prize">$20</div>
      <input class="input" type="number" min="0" max="2" value="0">
    </li>

    <!-- #region example-data -->
    <li>
      <div class="name">Papierosy XXL</div>
      <div class="how-many">4</div>
      <div class="prize">$50</div>
      <input class="input" type="number" min="0" max="4" value="0">
    </li>

    <li>
      <div class="name">Gazeta</div>
      <div class="how-many">10</div>
      <div class="prize">$2</div>
      <input class="input" type="number" min="0" max="10" value="0">
    </li>

    <li>
      <div class="name">Piwo</div>
      <div class="how-many">5</div>
      <div class="prize">$12</div>
      <input class="input" type="number" min="0" max="5" value="0">
    </li>

    <li>
      <div class="name">Leżak</div>
      <div class="how-many">2</div>
      <div class="prize">$20</div>
      <input class="input" type="number" min="0" max="2" value="0">
    </li>

    <li>
      <div class="name">Gril</div>
      <div class="how-many">1</div>
      <div class="prize">$150</div>
      <input class="input" type="number" min="0" max="1" value="0">
    </li>

    <li>
      <div class="name">Okulary</div>
      <div class="how-many">2</div>
      <div class="prize">$20</div>
      <input class="input" type="number" min="0" max="2" value="0">
    </li>

    <li>
      <div class="name">Gumu</div>
      <div class="how-many">5</div>
      <div class="prize">$10</div>
      <input class="input" type="number" min="0" max="5" value="0">
    </li>

    <li>
      <div class="name">Papierosy XXL</div>
      <div class="how-many">4</div>
      <div class="prize">$50</div>
      <input class="input" type="number" min="0" max="4" value="0">
    </li>

    <li>
      <div class="name">Gazeta</div>
      <div class="how-many">10</div>
      <div class="prize">$2</div>
      <input class="input" type="number" min="0" max="10" value="0">
    </li>

    <li>
      <div class="name">Piwo</div>
      <div class="how-many">5</div>
      <div class="prize">$12</div>
      <input class="input" type="number" min="0" max="5" value="0">
    </li>

    <li>
      <div class="name">Leżak</div>
      <div class="how-many">2</div>
      <div class="prize">$20</div>
      <input class="input" type="number" min="0" max="2" value="0">
    </li>

    <li>
      <div class="name">Gril</div>
      <div class="how-many">1</div>
      <div class="prize">$150</div>
      <input class="input" type="number" min="0" max="1" value="0">
    </li>

    <li>
      <div class="name">Okulary</div>
      <div class="how-many">2</div>
      <div class="prize">$20</div>
      <input class="input" type="number" min="0" max="2" value="0">
    </li>

    <li>
      <div class="name">Gumu</div>
      <div class="how-many">5</div>
      <div class="prize">$10</div>
      <input class="input" type="number" min="0" max="5" value="0">
    </li>
    <!-- #endregion example-data -->
  </ul>

  <div class="table-information">
    <div>Podsumowanie</div>
    <div>
      Ilość:
      <span style="font-size: 1.1em;padding-left: .3em;">1</span>
    </div>

    <div>
      Do zapłaty:
      <span style="font-size: 1.1em;padding-left: .3em;">$20</span>
    </div>
  </div>

  <footer class="footer">
    <button class="button">
      Płace gotówką
    </button>

    <button class="button">
      Płace kartą
    </button>

    <button class="button">
      Wyjdź
    </button>
  </footer>
</main>
