// @import './.style';

.bus-stop-window{
  position: absolute;
  top: 7em;
  right: 7em;
  width: 60em;
  height:40em;
  box-sizing: border-box;

  background: hsla(0, 0%, 0%, 0.733);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.24);


  .header{
    height: 10%!important;
  }

  .bus-stop-content{
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    overflow: hidden;

    display: -webkit-flex;
    flex-direction: rowx;


    .map-space{
      width: 70%;
      height: 100%;
      box-sizing: border-box;
      padding: 1em;

      .map{
        width: 100%;
        height: 100%;
        background: #538bc2;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 10px;

        img{
          width: 100%;
          height: 100%;
        }
      }
    }


    .map-information{
      width: 30%;
      height: 100%;
      box-sizing: border-box;
      overflow: hidden;
      border-left: 1px solid hsla(0, 0%, 0%, 0.274);

      .map-info-content{
        display: block;
        height: 90%;
        padding: 1em .5em;
        box-sizing: border-box;
        overflow: hidden;
        list-style-type: none;

        .bus-stop-img{
          width: 100%;
          height: 190px;
          box-sizing: border-box;
          overflow: hidden;

          display: -webkit-flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;


          img{
            height: 190px;
            overflow: hidden;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid black;
          }
        }

        li{
          display: block;
          width: 100%;
          margin-top: 1em;
          font-size: .9em;

          .static-text{
            font-size: 1.4em!important;
          }
        }
      }
    }
  }
}
