<header>
  kreator postaci
</header>

<div class="content">
  <ul class="menu  properties">
    <!-- #region property sex-->
    <li class="property">
      <span class="property-name">
        Płeć
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">Mężczyzna</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion property sex-->

    <!-- #region property @family roots-->
    <li routerLink="/charactercreator/appearance/roots" class="go-section">
      Pochodzenie
    </li>
    <!-- #endregion property @family roots-->

    <!-- #region property hair-->
    <li class="property">
      <span class="property-name">
        Fryzura
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">fryzua01</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion property hair-->


    <!-- #region property hair color-->
    <li class="property">
      <span class="property-name">
        Kolor włosów
      </span>

      <span class="value" style="padding-right: .5em;">
        <input type="range" min="1" max="100" value="50">
      </span>
    </li>
    <!-- #endregion property hair color-->

    <!-- #region property @Appearance-->
    <li routerLink="/charactercreator/appearance/more" class="go-section">
      Zmień ogólny wygląd postaci
    </li>
    <!-- #endregion property @Appearance-->

    <!-- #region property @Features-->
    <li routerLink="/charactercreator/appearance/features" class="go-section">
      Zadbaj o szczegóły
    </li>
    <!-- #endregion property @Features-->

    <!-- #region property @Clothes-->
    <li routerLink="/charactercreator/clothes" class="go-section">
      Dopasuj ubiór postaci
    </li>
    <!-- #endregion property @Clothes-->
  </ul>
</div>
