<main class="window">
  <header class="header">
    <p class="big-text">Salon samochodowy</p>
  </header>

  <section class="v-content">
    <div class="categories">
      <div class="title">
        Kategorie
      </div>

      <ul class="scrollbar">
        <li class="clicked">Wszystkie</li>
        <li>Compacts</li>
        <li>Coupes</li>
        <li>Muscle</li>
        <li>Off-Road</li>
        <li>SUVs</li>
        <li>Sedans</li>
        <li>Sports</li>
        <li>Sports Classic</li>
        <li>Super</li>
        <li>Vans</li>
        <li>Motorcycles</li>
        <li>Cycles</li>
      </ul>
    </div>

    <div class="vehicles-content scrollbar">

      <!-- #region example-vehicle-->
      <div class="vehicle">
        <div class="v-img">
          <img src="https://wiki.rage.mp/images/thumb/2/2e/Khamelion.png/164px-Khamelion.png">
        </div>

        <div class="v-info">
          <span class="v-title">Khamelion</span>

          <span class="v-text">
            <span class="static-text">Pojemność baku: </span>
              43
            <span class="marginal">L</span>
          </span>

          <span class="v-text">
              <span class="static-text">Spalanie paliwa: </span>
                6
              <span class="marginal">L/km</span>
            </span>
        </div>
      </div>
      <!-- #endregion example-vehicle -->

      <!-- #region example-vehicle-->
      <div class="vehicle clicked">
        <div class="v-img">
          <img src="https://wiki.rage.mp/images/thumb/a/ae/Sovereign.png/164px-Sovereign.png">
        </div>

        <div class="v-info">
          <span class="v-title">Sovereign</span>

          <span class="v-text">
            <span class="static-text">Pojemność baku: </span>
              17,8
            <span class="marginal">L</span>
          </span>

          <span class="v-text">
              <span class="static-text">Spalanie paliwa: </span>
                3
              <span class="marginal">L/km</span>
            </span>
        </div>
      </div>
      <!-- #endregion example-vehicle -->

      <!-- #region example-vehicle-->
      <div class="vehicle">
        <div class="v-img">
          <img src="https://wiki.rage.mp/images/thumb/5/5f/Regina.png/164px-Regina.png">
        </div>

        <div class="v-info">
          <span class="v-title">Regina</span>

          <span class="v-text">
            <span class="static-text">Pojemność baku: </span>
              32
            <span class="marginal">L</span>
          </span>

          <span class="v-text">
              <span class="static-text">Spalanie paliwa: </span>
                4
              <span class="marginal">L/km</span>
            </span>
        </div>
      </div>
      <!-- #endregion example-vehicle -->

      <!-- #region example-vehicle-->
      <div class="vehicle">
        <div class="v-img">
          <img src="https://wiki.rage.mp/images/thumb/a/af/Tailgater.png/164px-Tailgater.png">
        </div>

        <div class="v-info">
          <span class="v-title">Tailgater</span>

          <span class="v-text">
            <span class="static-text">Pojemność baku: </span>
              29
            <span class="marginal">L</span>
          </span>

          <span class="v-text">
              <span class="static-text">Spalanie paliwa: </span>
                4
              <span class="marginal">L/km</span>
            </span>
        </div>
      </div>
      <!-- #endregion example-vehicle -->

      <!-- #region example-vehicle-->
      <div class="vehicle">
        <div class="v-img">
          <img src="https://wiki.rage.mp/images/thumb/3/36/Dubsta2.png/164px-Dubsta2.png">
        </div>

        <div class="v-info">
          <span class="v-title">Dubsta 2</span>

          <span class="v-text">
            <span class="static-text">Pojemność baku: </span>
              32
            <span class="marginal">L</span>
          </span>

          <span class="v-text">
              <span class="static-text">Spalanie paliwa: </span>
                5
              <span class="marginal">L/km</span>
            </span>
        </div>
      </div>
      <!-- #endregion example-vehicle -->

      <!-- #region example-vehicle-->
      <div class="vehicle">
        <div class="v-img">
          <img src="https://wiki.rage.mp/images/thumb/e/ef/Rancherxl.png/164px-Rancherxl.png">
        </div>

        <div class="v-info">
          <span class="v-title">Ranger XL</span>

          <span class="v-text">
            <span class="static-text">Pojemność baku: </span>
              45
            <span class="marginal">L</span>
          </span>

          <span class="v-text">
              <span class="static-text">Spalanie paliwa: </span>
                5,7
              <span class="marginal">L/km</span>
            </span>
        </div>
      </div>
      <!-- #endregion example-vehicle -->

    </div>
  </section>

  <footer class="footer black-footer">
    <span class="searchBar">
      <input class="input" type="input" placeholder="Wyszukaj">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>

    <button class="button">Zapłać gotówką</button>
    <button class="button">Zapłać kartą</button>

    <button class="button">Wyjdź</button>
  </footer>
</main>
