<header>
  Pochodzenie Postaci
</header>

<div class="content">
  <div class="family-photos">
    <div class="photo">
      <img src="../../../assets/images/portrait/female_1.png">
    </div>

    <div class="photo">
      <img src="../../../assets/images/portrait/male_1.png">
    </div>

  </div>

  <span class="text-box">
    Matka & Ojciec
  </span>

  <ul class="menu family-roots properties">
    <!-- #region property mother-->
    <li class="property">
      <span class="property-name">
        Matka
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">Katharine</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion property mother-->

    <!-- #region property father-->
    <li class="property">
      <span class="property-name">
        Ojciec
      </span>

      <span class="value">
        <i class="fa fa-angle-left fa-lg previous" aria-hidden="true"></i>

        <span class="name">James</span>

        <i class="fa fa-angle-right fa-lg next" aria-hidden="true"></i>
      </span>
    </li>
    <!-- #endregion property father-->

    <!-- #region property similarity-->
    <li class="property">
      <span class="property-name">
        Podobieńśtwo
      </span>

      <span class="value">
        <span class="similarity">Matka</span>

        <span class="similarity-value">
          <input type="range" min="1" max="100" value="50">
        </span>

        <span class="similarity">Ojciec</span>
      </span>
    </li>
    <!-- #endregion property similarity-->
  </ul>
</div>

<footer>
  <button routerLink="/charactercreator/appearance" class="previous">
    Wstecz
  </button>

  <button class="save">
    Zapisz
  </button>

  <button routerLink="/charactercreator/features" class="next">
    Dalej
  </button>
</footer>
