<header>
  pojazd startowy
</header>

<div class="content">
  <ul class="menu  properties">
    <!-- #region property car model -->
    <li routerLink="/charactercreator/carmodels" class="go-section">
      Wybierz model pojazdu
    </li>
    <!-- #endregion property car model -->

    <!-- #region property color picker-->
    <li class="property colorpicker">
      <button class="value colorpicker-text jscolor
                         {valueElement:'valueSpan',styleElement:'styleSpan',value:'#202020'}">
        Wybierz kolor
      </button>

      <span id="styleSpan"></span>
    </li>
    <!-- #endregion property color picker-->

    <!-- #region property rotate-->
    <li class="property">
      <span class="property-name">
        Obróć pojazd
      </span>

      <span class="value" style="padding-right: .5em;">
        <input type="range" min="1" max="360" value="180">
      </span>
    </li>
    <!-- #endregion property rotate-->

  </ul>
</div>

<footer>
  <button routerLink="/charactercreator" class="previous">
    Wstecz
  </button>

  <button class="save">
    Zapisz
  </button>

  <button routerLink="/charactercreator/appearance" class="next">
    Dalej
  </button>
</footer>
