.window {
  width: 30em !important;
}

.content {
  margin-top: -.2em;
}
.content li {
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 15em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content li input {
  text-align: center;
  width: 3em;
}

.name {
  width: 40%;
}

.weight, .prize {
  width: 15%;
  text-align: center;
}
