<main class="window">
  <header class="header">
    <p class="big-text">Drive Thru</p>
  </header>

  <div class="table-information">
    <div class="name" style="text-align: center;">Nazwa</div>
    <div class="weight">Waga</div>
    <div class="prize">Cena</div>
    <div>Ilość</div>
  </div>

  <ul class="content scrollbar">
    <li>
      <div class="name">Hambruger</div>
      <div class="weight">500g</div>
      <div class="prize">$20</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>
    <!-- #region example-data -->
    <li>
      <div class="name">Pizza</div>
      <div class="weight">900g</div>
      <div class="prize">$40</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>

    <li>
      <div class="name">Kebab</div>
      <div class="weight">500g</div>
      <div class="prize">$15</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>

    <li>
      <div class="name">Coca-Cola</div>
      <div class="weight">500g</div>
      <div class="prize">$2</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>

    <li>
      <div class="name">Chipsy</div>
      <div class="weight">500g</div>
      <div class="prize">$5</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>

    <li>
      <div class="name">Jabłko</div>
      <div class="weight">250g</div>
      <div class="prize">$12</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>

    <li>
      <div class="name">Frytki</div>
      <div class="weight">500g</div>
      <div class="prize">$20</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>

    <li>
      <div class="name">Hambruger</div>
      <div class="weight">500g</div>
      <div class="prize">$20</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>

    <li>
      <div class="name">Pizza</div>
      <div class="weight">900g</div>
      <div class="prize">$40</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>

    <li>
      <div class="name">Kebab</div>
      <div class="weight">500g</div>
      <div class="prize">$15</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>

    <li>
      <div class="name">Coca-Cola</div>
      <div class="weight">500g</div>
      <div class="prize">$2</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>

    <li>
      <div class="name">Chipsy</div>
      <div class="weight">500g</div>
      <div class="prize">$5</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>

    <li>
      <div class="name">Jabłko</div>
      <div class="weight">250g</div>
      <div class="prize">$12</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>

    <li>
      <div class="name">Frytki</div>
      <div class="weight">500g</div>
      <div class="prize">$20</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>

    <li>
      <div class="name">Hambruger</div>
      <div class="weight">500g</div>
      <div class="prize">$20</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>

    <li>
      <div class="name">Pizza</div>
      <div class="weight">900g</div>
      <div class="prize">$40</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>

    <li>
      <div class="name">Kebab</div>
      <div class="weight">500g</div>
      <div class="prize">$15</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>

    <li>
      <div class="name">Coca-Cola</div>
      <div class="weight">500g</div>
      <div class="prize">$2</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>

    <li>
      <div class="name">Chipsy</div>
      <div class="weight">500g</div>
      <div class="prize">$5</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>

    <li>
      <div class="name">Jabłko</div>
      <div class="weight">250g</div>
      <div class="prize">$12</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>

    <li>
      <div class="name">Frytki</div>
      <div class="weight">500g</div>
      <div class="prize">$20</div>
      <input class="input" type="number" min="0" max="64" value="0">
    </li>
    <!-- #endregion example-data -->
  </ul>

  <div class="table-information">
    <div>Podsumowanie</div>
    <div>
      Ilość:
      <span style="font-size: 1.1em;padding-left: .3em;">1</span>
    </div>

    <div>
      Do zapłaty:
      <span style="font-size: 1.1em;padding-left: .3em;">$20</span>
    </div>
  </div>

  <footer class="footer">
    <button class="button">
      Płace gotówką
    </button>

    <button class="button">
      Płace kartą
    </button>

    <button class="button">
      Wyjdź
    </button>
  </footer>
</main>
